div.form {
  position: relative;
  min-width: 30px;
  width: 100%;
  height: 100%;
  border: 1px solid #737373;
  overflow: hidden;

  &:hover {
    border: 1px solid black;
  }

  &.invalid {
    border: 2px solid red;
  }
}

div[name="select-container"] {
  position: absolute;
  border: 0px;
  overflow: hidden;
  height: 100%;
  width: calc(100% - 1px);
}

select {
  border: 0px;
  display: block;
  position: relative;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
}

div[name="input-container"] {
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  z-index: 2;
  border: 0px;
  overflow: hidden;
  width: calc(100% - 1.3em); 
}

input {
  display: block;
  position: relative;
  padding:0px;
  top: -1px;
  left: -1px;    
  border: 0px;
  height: calc(100% + 2px);
  width: calc(100% + 1.3em);
  font-size: inherit;

}

